h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}

h2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #765fdf;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #765fdf;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  color: #765fdf;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

.body {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  font-weight: 400;
}

.hero {
  background-image: url('../images/Hero_Background.svg');
  background-position: 50% 100%;
  background-size: cover;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding-top: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.navlink {
  color: #fff;
  font-size: 16px;
}

.hero-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-intro {
  width: auto;
  margin-top: 10px;
  padding-right: 100px;
  padding-left: 100px;
  color: hsla(0, 0%, 100%, .78);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.hero-sign-up {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.hero-sign-up-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.sign-up-hero-input {
  position: relative;
  right: -20px;
  z-index: 1;
  width: 100%;
  height: 45px;
  padding-right: 50px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-color: transparent;
  border-radius: 37px;
  color: #000;
  font-size: 18px;
  font-style: italic;
}

.sign-up-hero-input.try-it-section {
  border-color: #e3e3e3;
}

.sign-up-wrapper-input {
  position: relative;
  left: -20px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  width: 200px;
  height: 45px;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 37px;
  background-color: #01d779;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.succes-message {
  background-color: #01d779;
}

.white-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.beta-message {
  margin-top: -10px;
  color: hsla(0, 0%, 100%, .36);
  text-align: center;
}

.beta-message.try-it-section {
  color: hsla(210, 1%, 67%, .8);
}

.hero-devices {
  height: 100%;
}

.hero-devices-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: -100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navbar-white {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: visible;
  border-bottom: 1px solid rgba(0, 0, 0, .11);
  background-color: #fff;
}

.navbar-white-link {
  color: #858585;
  font-size: 16px;
}

.navbar-white-link:hover {
  color: #765fdf;
}

.purple-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.companies {
  margin-top: 185px;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.section-1-intro {
  margin-top: 70px;
}

.paragraph-text {
  margin-top: 17px;
  margin-bottom: 40px;
  color: #858585;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-section {
  margin-top: 50px;
}

.paragraph-2 {
  padding-right: 10px;
  padding-left: 10px;
  color: #8d8d8d;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.paragraph-2.functions-text {
  padding-left: 0px;
  text-align: left;
}

.section-2-how {
  margin-top: 72px;
  padding-bottom: 82px;
  background-image: -webkit-linear-gradient(270deg, #f6f9fc, #fff);
  background-image: linear-gradient(180deg, #f6f9fc, #fff);
}

.how-vaizr-works {
  margin-top: 85px;
}

.ingredients {
  margin-top: 50px;
}

.functions-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.functions-row {
  margin-bottom: 50px;
}

.stack-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.code-steps-wrapper {
  margin-top: 50px;
}

.step-image {
  width: 200px;
  height: 200px;
  border: 4px solid #fff;
  border-radius: 200px;
  background-image: url('../images/User-Data-Screenshot.png');
  background-position: -4px -9px;
  background-size: cover;
  box-shadow: 0 15px 28px 0 rgba(0, 0, 0, .1);
}

.step-image._3 {
  background-image: url('../images/Generate-Code-Screenshot.png');
  background-position: -129px 50%;
  background-size: 446px;
}

.step-image._2 {
  background-image: url('../images/Design-Api-Screenshot.png');
  background-position: -79px -36px;
  background-size: 419px;
}

.steps-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.step-text {
  margin-top: 30px;
  text-align: center;
}

.section-3-testimonials {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #2e2163;
  font-size: 12px;
}

.testimonial-text {
  margin-bottom: 15px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 19px;
  line-height: 30px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.testimonial-name {
  margin-bottom: 5px;
  color: rgba(215, 206, 255, .63);
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.testimonial-function {
  color: hsla(0, 0%, 100%, .26);
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
}

.section-4-cases {
  margin-top: 65px;
}

.cases {
  margin-top: 50px;
  margin-bottom: 73px;
}

.case-wrapper {
  overflow: hidden;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 10px 28px 0 rgba(0, 0, 0, .26);
}

.cases-text {
  margin-top: 30px;
  text-align: center;
}

.read-documentation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.documentation-button.try-it-section {
  margin-left: 20px;
  padding: 7px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(135, 108, 254, .44);
  border-radius: 136px;
  background-color: rgba(56, 152, 236, 0);
  color: #765fdf;
  font-size: 17px;
  font-weight: 700;
}

.footer {
  height: 235px;
  margin-top: 70px;
  padding-top: 100px;
  background-color: #150e32;
}

.copyright-column {
  position: relative;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright-text {
  color: hsla(0, 0%, 100%, .33);
  font-size: 17px;
}

.footer-partner-text {
  margin-bottom: 10px;
  color: hsla(0, 0%, 100%, .33);
  font-size: 17px;
  font-weight: 700;
}

.logo-sticky-nav {
  padding-top: 12px;
}

.function-icon {
  text-align: center;
}

html.w-mod-js *[data-ix="show-menu"] {
  display: none;
}

@media (max-width: 991px) {
  .section-2-how {
    padding-bottom: 48px;
  }
  .functions-wrapper {
    margin-left: 0px;
  }
  .functions-row {
    margin-bottom: 16px;
  }
  .cases {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-text {
    margin-top: 100px;
  }
  .hero-intro {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 26px;
  }
  .white-logo {
    padding-left: 22px;
  }
  .hero-devices-wrapper {
    margin-bottom: -50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-white {
    display: block;
  }
  .navbar-white-link {
    padding-right: 28px;
  }
  .purple-logo {
    padding-left: 24px;
  }
  .companies {
    margin-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .section-1-intro {
    margin-top: 34px;
  }
  .paragraph-text {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 17px;
    line-height: 26px;
  }
  .icon-wrapper {
    margin-bottom: 24px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .paragraph-2.functions-text {
    text-align: center;
  }
  .section-2-how {
    margin-top: 27px;
  }
  .how-vaizr-works {
    margin-top: 64px;
  }
  .functions-wrapper {
    margin-top: 8px;
  }
  .functions-row {
    margin-bottom: 26px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
  }
  .stack-row {
    margin-bottom: 43px;
  }
  .steps-column {
    margin-bottom: 15px;
  }
  .case-wrapper {
    margin-right: 30px;
    margin-left: 30px;
  }
  .cases-text {
    margin-bottom: 33px;
  }
  .footer-row {
    padding-right: 30px;
    padding-left: 30px;
  }
  .layer-stack-column {
    display: none;
    overflow: visible;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .navbar {
    padding-top: 0px;
  }
  .navlink {
    padding-right: 28px;
  }
  .hero-intro {
    padding-right: 15px;
    padding-left: 15px;
  }
  .white-logo {
    padding-top: 12px;
  }
  .beta-message {
    font-size: 11px;
  }
  .hero-devices-wrapper {
    height: auto;
    margin-bottom: -16px;
  }
  .icon-wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
  .functions-row {
    padding-right: 50px;
    padding-left: 50px;
  }
  .testimonial-text {
    padding-right: 50px;
    padding-left: 50px;
  }
  .read-documentation-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .documentation-button.try-it-section {
    margin-top: 14px;
    margin-left: 0px;
  }
  .mobile-nav-container {
    margin-top: 28px;
  }
}

